.realtor img {
    background: white;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.delete-btn {
    text-decoration: none;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: darkred;
}
