{% extends "base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'common/css/home.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'real_estate_agency/css/review_agency.css' %}"/>
{% endblock %}
{% block scripts %}
<script>
    function updateDealType() {
        const realEstateTypeSelect = document.getElementById('realEstateType');
        const dealTypeSelect = document.getElementById('dealType');

        if (realEstateTypeSelect.value === "") {
            dealTypeSelect.disabled = true;
            dealTypeSelect.value = "";
        } else {
            dealTypeSelect.disabled = false;

            if (realEstateTypeSelect.value === "plot_only") {
                dealTypeSelect.querySelector('option[value="deal_construction_only"]').disabled = true;
            } else {
                Array.from(dealTypeSelect.options).forEach(option => {
                    option.disabled = false;
                });
            }
        }
    }
</script>
{% endblock %}

{% block content %}

<div class="city">
    <div class="found-deal">
        <form method="post">
            {% csrf_token %}
            <input name="formId" value="search_deal_home" type="hidden"/>
            <select id="realEstateType" name="real_estate_type" onchange="updateDealType()">
                <option value="real_estate_any">Тип недвижимости</option>
                <option value="house_only">Дом</option>
                <option value="apartment_only">Квартира</option>
                <option value="plot_only">Участок</option>
            </select>
            <select id="dealType" name="deal_type" disabled>
                <option value="type_deal_any">Тип сделки</option>
                <option value="deal_sale_only">Продажа</option>
                <option value="deal_rent_only">Аренда</option>
                <option value="deal_construction_only">Строительство</option>
            </select>
            <input name="deal_price_min" type="number" min="0" step="0.01" placeholder="Цена от">
            <input name="deal_price_max" type="number" min="0" step="0.01" placeholder="Цена до">
            <button type="submit">Найти</button>
        </form>
    </div>
</div>
<div class="review-container">
    <h3>Отзывы</h3>
    <div class="reviews">
    {% for review in page_obj %}
        <div class="review">
            <div class="review-header">
                <img src="{{ review.wrote_review.photo.url }}">
                <div class="review-info">
                    <span class="review-author">{{ review.wrote_review.username }}</span>
                    <span class="review-date">
                        {{ review.date_write }}
                        {% include "includes/star_rating_display.html" with rating=review.grade %}
                        {% if review.change %}
                            <span class="edited-badge">(изменено)</span>
                        {% endif %}
                    </span>
                </div>
                {% if user == review.wrote_review %}
                <div class="action-message">
                    <a href="{% url 'review_change' review.id %}" class="edit-btn">Изменить</a>
                    <a href="{% url 'del_review_agency' review.id %}" class="delete-btn">Удалить</a>
                </div>
                {% endif %}
            </div>
            <div class="message-content">
                <textarea readonly>{{ review.message }}</textarea>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="write-review">
        {% if user.banned %}
            <p class="error-write">Вы не можете использовать функцию отзывов, когда вы заблокированы</p>
        {% elif have_review %}
            <p class="error-write">Вы уже имеете отзыв об этом агенстве</p>
            <a href="{% url 'review_change' have_review.id %}" class="edit-btn-have-review">Изменить</a>
        {% elif user.is_anonymous %}
            <p class="error-write"><a href="{% url 'login' %}">Авторизуйтесь, чтобы оставлять комментарии</a></p>
        {% else %}
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% include "includes/half_stars_rating.html" with name="grade" %}
            <div class="form-group">
                {{ form.message }}
                {{ form.message.errors }}
            </div>
            <button type="submit" class="form-button">Написать</button>
        </form>
        {% endif %}
    </div>
    <hr>
    {% include 'includes/paginator.html' %}
</div>
{% endblock %}
