{% extends "base.html" %}
{% load static %}


{% block title %}{{title}}{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'common/css/information.css' %}"/>
{% endblock %}
{% block scripts %}

{% endblock %}

{% block content %}
<div class="info-container">
    <h1>Подтвердите почту</h1>
    <br>
    <p>Вам на почту пришло письмо для подтверждения почты, которое нужно, чтобы вы могли авторизоваться.</p>
    <p>Письмо может быть в «спаме», советуем посмотреть там, если письмо долго не приходит.</p>
</div>
{% endblock %}
