{% extends "base.html" %}
{% load static %}


{% block title %}{{title}}{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'user/css/black_list.css' %}"/>
{% endblock %}
{% block scripts %}

{% endblock %}

{% block content %}
<div class="bl-container">
    <div class="bl-list">
        {% for el in black_list %}
            <div class="blocked-user">
                <img src="{{ el.who_on_BL.photo.url }}">
                <p><a href="{% url 'user_profile' el.who_on_BL.username %}">{{ el.who_on_BL.username }}</a></p>
                <p>Был добавлен: {{ el.date_add }}</p>
                <a href="{% url 'del_bl_my_black_list' el.who_on_BL.username %}" class="btn">Удалить</a>
            </div>
        {% endfor %}
    </div>
    <hr>
    {% include 'includes/paginator.html'%}
</div>
{% endblock %}
