{% extends "base.html" %}
{% load static %}


{% block title %}{{title}}{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'common/css/form.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'user/css/delete_account.css' %}"/>
{% endblock %}
{% block scripts %}

{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="form-title">{{ title }}</h2>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label>Фамилия</label>
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </div>
        <div class="form-group">
            <label>Имя</label>
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </div>
        <div class="form-group">
            <label>Отчество</label>
            {{ form.patronymic }}
            {{ form.patronymic.errors }}
        </div>
        <div class="form-group">
            <label>Фото</label>
            {{ form.photo }}
            {{ form.photo.errors }}
        </div>
        <div class="form-group">
            <label>Отображать почту</label>
            {{ form.view_email }}
            {{ form.view_email.errors }}
        </div>
        <div class="form-group">
            <label>Номер телефона</label>
            {{ form.phone }}
            {{ form.phone.errors }}
        </div>
        <div class="form-group">
            <label>О себе</label>
            {{ form.about }}
            {{ form.about.errors }}
        </div>
        <button type="submit" class="form-button">Изменить профиль</button>
    </form>
    <hr>
    <a id="delete-account-btn" class="btn delete-account">Отключить учетную запись</a>
</div>
{% url 'disable_account' as tmp_href %}
{% include 'includes/popup_confirmation.html' with modal_id="delete-account-modal" trigger_element_id="#delete-account-btn" title="Подтвердите отключение ученой записи" text="Вы уверены, что хотите выполнить это необратимое действие?" button_html_code='<a href="'|add:tmp_href|add:'" class="btn delete-account">Подтвердить удаление</a>' cancel_text="Отменить" %}
{% endblock %}
