{% extends "base.html" %}
{% load static %}


{% block title %}{{title}}{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'common/css/form.css' %}"/>
{% endblock %}
{% block scripts %}

{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="form-title">{{ title }}</h2>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label>Новый пароль</label>
            {{ form.new_password }}
            {{ form.new_password.errors }}
        </div>
        <div class="form-group">
            <label>Подтверждение пароля</label>
            {{ form.new_password_confirmation }}
            {{ form.new_password_confirmation.errors }}
        </div>
        <button type="submit" class="form-button">Изменить пароль</button>
    </form>
</div>
{% endblock %}
