@import url(variables.css);

#content {
    padding-top: 50px;
}

.form-container {
    width: 65%;
    background-color: var(--background-color);
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

p {
    color: white;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.form-group input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: white;
    outline: none;
}

.form-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:disabled {
    background-color: #D6D6D6;
    color: #A1A1A1;
    cursor: not-allowed;
}

.form-button:hover:not(:disabled) {
    background-color: #515151;
}

textarea {
    font-size: 14px;
    width: 98%;
    height: 150px;
    resize: none;
}

input {
    width: 95%;
}

.form-group input[type="checkbox"] {
    width: 5%;
}

.errorlist {
    color: #ff0000;
    font-size: 16px;
    margin-top: 5px;
}


.back-button {
    display: inline-block;
    margin-bottom: 15px;
    padding: 16px 8px;
    background-color: #0d62c9;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #00d2ff;
}
