{% extends "base.html" %}
{% load static %}


{% block title %}{{title}}{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'common/css/profile.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'real_estate_agency/css/deal_view.css' %}"/>
{% endblock %}
{% block scripts %}

{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="header-profile">
        <div class="deal">
            <img src="{{ deal_view.real_estate_deal.main_photo.url }}">

            {% if deal_view.completed_type == deal_view.DealCompletedType.CLIENT_SEARCH %}
                <p class="deal-status deal-status-client-search">Открыта для совершения сделки</p>
            {% elif deal_view.completed_type == deal_view.DealCompletedType.IN_PROGRESS %}
                <p class="deal-status deal-status-in-progress">В процессе совершения сделки c {{ deal_view.deal_with.username }}</p>
            {% elif deal_view.completed_type == deal_view.DealCompletedType.SUCCESS %}
                <p class="deal-status deal-status-success">Успешно завершенная сделка c {{ deal_view.deal_with.username }}</p>
            {% elif deal_view.completed_type == deal_view.DealCompletedType.REJECTED %}
                <p class="deal-status deal-status-rejected">Сделка c {{ deal_view.deal_with.username }} была отклонена</p>
            {% endif %}

            <p>Название: {{ deal_view.title }}</p>
            <p>Была создана: {{ deal_view.date_create }}</p>
            <p>Текущая цена: {{ deal_view.current_price }}</p>
            <p>Тип недвижимости: {% if deal_view.real_estate_deal.type == deal_view.real_estate_deal.RealEstateType.APARTMENT %} квартира {% elif deal_view.real_estate_deal.type == deal_view.real_estate_deal.RealEstateType.HOUSE  %} дом {% elif deal_view.real_estate_deal.type == deal_view.real_estate_deal.RealEstateType.PLOT %} участок {% endif %}</p>
            <p>Тип сделки: {% if deal_view.type == deal_view.DealType.SALE %} продажа {% elif deal_view.type == deal_view.DealType.RENT  %} аренда {% elif deal_view.type == deal_view.DealType.CONSTRUCTION %} строительство {% endif %}</p>
            <p>Площадь: {{ deal_view.real_estate_deal.square }} м²</p>

            {% if deal_view.type != deal_view.DealType.CONSTRUCTION %}
            <p>
                Город: {{ deal_view.real_estate_deal.address_real_estate.city }}
                {% if deal_view.real_estate_deal.address_real_estate.district %}
                    Район: {{ deal_view.real_estate_deal.address_real_estate.district }}
                {% endif %}
                Улица: {{ deal_view.real_estate_deal.address_real_estate.street }}
                Дом: {{ deal_view.real_estate_deal.address_real_estate.house }}
                {% if deal_view.real_estate_deal.address_real_estate.apartment %}
                    Квартира: {{ deal_view.real_estate_deal.address_real_estate.apartment }}
                {% endif %}
            </p>
            {% endif %}
            {% if deal_view.completed_type == deal_view.DealCompletedType.SUCCESS%}
                <a href="{{ deal_view.completion_document.url }}">Скачать документ сделки</a>
            {% endif %}
            <p>О недвижимости: {{ deal_view.real_estate_deal.about }}</p>
        </div>
        <div class="actions">
            {% if user == deal_view.agent %}
                {% if deal_view.completed_type == deal_view.DealCompletedType.CLIENT_SEARCH %}
                    <a href="{% url 'start_deal' deal_view.title_slug %}" class="btn">Начать совершение сделки</a>
                {% elif deal_view.completed_type == deal_view.DealCompletedType.IN_PROGRESS %}
                    <a href="{% url 'success_deal' deal_view.title_slug %}" class="btn">Подтвердить совершение</a>
                    <a href="{% url 'reject_deal' deal_view.title_slug %}" class="btn">Отклонить сделку</a>
                {% endif %}
            {% endif %}
            {% if user.is_staff %}
                {% if deal_view.completed_type != deal_view.DealCompletedType.SUCCESS and deal_view.completed_type != deal_view.DealCompletedType.REJECTED %}
                    <a href="{% url 'deal_change' deal_view.title_slug %}" class="btn">Изменить данные сделки</a>
                {% endif %}
                {% if deal_view.completed_type == deal_view.DealCompletedType.SUCCESS or deal_view.completed_type == deal_view.DealCompletedType.REJECTED %}
                    <a href="{% url 're_creation_deal' deal_view.title_slug %}" class="btn">Создать подобную сделку (пересоздать)</a>
                {% endif %}
                <a id="delete-deal-btn" class="btn danger-btn">Удалить сделку</a>
                {% url 'del_deal' deal_view.title_slug as tmp_href %}
                {% include 'includes/popup_confirmation.html' with modal_id="delete-deal-modal" trigger_element_id="#delete-deal-btn" title="Подтвердите удаление сделки" text="Вы уверены, что хотите выполнить это необратимое действие?" button_html_code='<a href="'|add:tmp_href|add:'" class="btn">Подтвердить удаление</a>' cancel_text="Отменить" %}
            {% endif %}
            {% if user.is_authenticated %}
                {% if track_this_deal %}
                    <a href="{% url 'stop_track_deal' deal_view.title_slug %}" class="btn">Перестать отслеживать сделку</a>
                {% else %}
                    <a href="{% url 'track_deal' deal_view.title_slug %}" class="btn">Отслеживать сделку</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="contacts-deal">
        {% if user.is_authenticated %}
            <h3>Контакты для обсуждения сделки</h3>
            <p>Почта: {{ deal_view.agent.email }}</p>
            <p>Телефон: {{ deal_view.agent.phone|default:"Не указан" }}</p>
            <a href="{% url 'private_message_user' deal_view.agent.username %}" class="btn contact-pm">Написать агенту ответственному за недвижимость</a>
        {% else %}
            <h3>Авторизуйтесь, чтобы обсудить сделку</h3>
            <a href="{% url 'login' %}" class="btn">Авторизация</a>
        {% endif %}
    </div>
    <div class="extend-data">
        <div class="extend-data-real-estate">
            {% if deal_view.real_estate_deal.type == deal_view.real_estate_deal.RealEstateType.APARTMENT %}
                <h3>Данные квартиры</h3>
                <p>Этажность дома: {{ data_apartment.number_storeys }}</p>
                <p>Этаж: {{ data_apartment.floor }}</p>
                <p>Балкон: {% if data_apartment.balcony %} есть {% else %} нету {% endif %}</p>
                <p>Мебель: {% if data_apartment.furniture %} есть {% else %} нету {% endif %}</p>
                <p>Год постройки дома: {{ data_apartment.year_construction }}</p>
                <p>Аварийность: {% if data_apartment.accident_rate %} есть {% else %} нету {% endif %}</p>
                <p>Тип комнат: {% if data_apartment.room_type == data_apartment.RoomType.OTHER %} другое {% elif data_apartment.room_type == data_apartment.RoomType.COMMUNAL %} коммуналка {% elif data_apartment.room_type == data_apartment.RoomType.ONE_ROOM %} однокомнатная {% elif data_apartment.room_type == data_apartment.RoomType.TWO_ROOMS %} двухкомнатная {% elif data_apartment.room_type == data_apartment.RoomType.THREE_ROOMS %} трехкомнатная {% elif data_apartment.room_type == data_apartment.RoomType.FOUR_ROOMS %} четырехкомнатная {% elif data_apartment.room_type == data_apartment.RoomType.FOUR_PLUS_ROOMS %} четыре+ комнат {% elif data_apartment.room_type == data_apartment.RoomType.STUDIO %} студия {% elif data_apartment.room_type == data_apartment.RoomType.MAISONETTE %} мезонет {% elif data_apartment.room_type == data_apartment.RoomType.LOFT %} лофт {% elif data_apartment.room_type == data_apartment.RoomType.PENTHOUSE %} пентхаус {% endif %}
            {% elif deal_view.real_estate_deal.type == deal_view.real_estate_deal.RealEstateType.HOUSE  %}
                <h3>Данные дома</h3>
                <p>Этажность дома: {{ data_house.number_storeys }}</p>
                <p>Площадь дома: {{ data_house.house_area }} м²</p>
                <p>Год постройки дома: {{ data_house.year_construction }}</p>
                <p>Гараж: {% if data_house.garage %} есть {% else %} нету {% endif %}</p>
                <p>Коммуникации: {% if data_house.communications %} есть {% else %} нету {% endif %}</p>
            {% elif deal_view.real_estate_deal.type == deal_view.real_estate_deal.RealEstateType.PLOT %}
                <h3>Данные участка</h3>
                <p>Постройки на участке: {% if data_plot.buildings %} есть {% else %} нету {% endif %}</p>
                <p>Коммуникации: {% if data_plot.communications %} есть {% else %} нету {% endif %}</p>
            {% endif %}
        </div>
        {% if deal_view.type != deal_view.DealType.SALE %}
            <div class="extend-data-deal">
                {% if deal_view.type == deal_view.DealType.RENT %}
                    <h3>Данные аренды</h3>
                    <p>Цена ЖКХ: {{ data_rental.price_housing_and_municipalities|default:"Не указано" }}</p>
                    <p>Предоплата: {{ data_rental.prepayment|default:"Не указано" }}</p>
                    <p>Срок аренды в днях: {{ data_rental.rental_period_days }}</p>
                {% elif deal_view.type == deal_view.DealType.CONSTRUCTION  %}
                    <h3>Данные строительства</h3>
                    <p>Строительная компания: {{ data_construction.construction_company }}</p>
                    <p>Примерный срок строительства: {{ data_construction.approximate_dates|default:"Не указано" }}</p>
                    <p><a href="{{ data_construction.project_document.url }}">Скачать документ проекта</a></p>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="price-history">
        {% load price_tags %}
        <h3>История изменения цены за год</h3>
        {% if price_history %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Дата изменения</th>
                    <th>Цена</th>
                    <th>Изменение</th>
                </tr>
            </thead>
            <tbody>
                {% for record in price_history %}
                <tr>
                    <td>{{ record.date_change|date:"d.m.Y H:i" }}</td>
                    <td>{{ record.price }} ₽</td>
                    <td>
                        {% if not forloop.last %}
                            {% with next_record=price_history|next_value:forloop.counter0 %}
                                {{ record.price|subtract:next_record.price }} ₽
                            {% endwith %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>История изменений цены отсутствует</p>
        {% endif %}
    </div>
</div>
{% endblock %}
