{% extends "base.html" %}
{% load static %}


{% block title %}{{title}}{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'common/css/list_with_filters.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'real_estate_agency/css/deal_list.css' %}"/>
{% endblock %}
{% block scripts %}
<script src="{% static 'real_estate_agency/js/selectedDealAgency.js' %}"></script>
{% endblock %}

{% block content %}
<div class="list-container">
    <div class="list-elements">
        {% if user.is_staff %}
            <a href="{% url 'deal_new' %}" class="btn">Добавить сделку</a>
        {% endif %}
        <hr>
        {% for deal in deal_list %}
            <div class="deal">
                <img src="{{ deal.real_estate_deal.main_photo.url }}">
                <div class="deal-content">
                    <p>Название: {{ deal.title }}</p>
                    <p>Была создана: {{ deal.date_create }}</p>
                    <p>Текущая цена: {{ deal.current_price }}</p>
                    <p>Тип недвижимости: {% if deal.real_estate_deal.type == deal.real_estate_deal.RealEstateType.APARTMENT %} квартира {% elif deal.real_estate_deal.type == deal.real_estate_deal.RealEstateType.HOUSE  %} дом {% elif deal.real_estate_deal.type == deal.real_estate_deal.RealEstateType.PLOT %} участок {% endif %}</p>
                    <p>Тип сделки: {% if deal.type == deal.DealType.SALE %} продажа {% elif deal.type == deal.DealType.RENT  %} аренда {% elif deal.type == deal.DealType.CONSTRUCTION %} строительство {% endif %}</p>
                    <p>Площадь: {{ deal.real_estate_deal.square }} м²</p>
                    <a href="{% url 'deal' deal.title_slug %}" class="btn">Просмотреть</a>
                </div>
            </div>
            <hr>
        {% empty %}
            <hr>
        {% endfor %}
        {% include 'includes/paginator.html'%}
    </div>
    <div class="filters">
        <form method="GET" class="filter-form">
            {% if user.is_authenticated %}
                <div class="filter-group">
                    <label>Только мои сделки</label>
                    <input id="my_deals_only_state" type="checkbox" name="my_deals_only_value" value="my_deals_only_value"
                           {% if request.GET.my_deals_only_value %}checked{% endif %}>
                </div>
            {% endif %}
            {% if user.is_staff %}
                <div class="filter-group">
                    <label>Номер недвижимости</label>
                    <input id="id_real_estate_deal" type="number" min="1" name="id_real_estate_deal" value="{{ request.GET.id_real_estate_deal }}">
                </div>
                <div class="filter-group">
                    <label>Cделки с агентом (логин)</label>
                    <input id="agent_deals" type="text" name="agent_deals" value="{{ request.GET.agent_deals }}">
                </div>
            {% endif %}
            <div class="filter-group icontains-string">
                <label>Название сделки</label>
                <input id="title_deal" type="text" name="title_deal_value" value="{{ request.GET.title_deal_value }}">
            </div>
            <div class="filter-group icontains-string">
                <label>Диапазон цены</label>
                <input id="price_deal_min" type="number" min="0" step="0.01" name="price_deal_min_value" value="{{ request.GET.price_deal_min_value }}">
                <input id="price_deal_max" type="number" min="0" step="0.01" name="price_deal_max_value" value="{{ request.GET.price_deal_max_value }}">
            </div>
            <fieldset>
                <legend>Тип сделки</legend>
                <div class="radio-option">
                    <input id="type_deal_any" type="radio" name="type_deal" value="type_deal_any"
                           onchange="selectedDeal()"
                           {% if not request.GET.type_deal or request.GET.type_deal == 'type_deal_any'  %}checked{% endif %}>
                    <label for="type_deal_any">Любой тип сделки</label>
                </div>
                <div class="radio-option">
                    <input id="type_deal_sale" type="radio" name="type_deal" value="deal_sale_only"
                           onchange="selectedDeal()"
                           {% if request.GET.type_deal == 'deal_sale_only' %}checked{% endif %}>
                    <label for="type_deal_sale">Продажа</label>
                </div>
                <div class="radio-option">
                    <input id="type_deal_rent" type="radio" name="type_deal" value="deal_rent_only"
                           onchange="selectedDeal()"
                           {% if request.GET.type_deal == 'deal_rent_only' %}checked{% endif %}>
                    <label for="type_deal_rent">Аренда</label>
                </div>
                <div class="radio-option">
                    <input id="type_deal_construction" type="radio" name="type_deal" value="deal_construction_only"
                           onchange="selectedDeal()"
                           {% if request.GET.type_deal == 'deal_construction_only' %}checked{% endif %}>
                    <label for="type_deal_construction">Строительство</label>
                </div>
            </fieldset>
            <div id="rent" class="view-group">
                <div class="filter-group">
                    <label>Диапазон цены ЖКХ</label>
                    <input id="price_housing_and_municipalities_min" type="number" min="0" step="0.01" name="price_housing_and_municipalities_min_value" value="{{ request.GET.price_housing_and_municipalities_min_value }}">
                    <input id="price_housing_and_municipalities_max" type="number" min="0" step="0.01" name="price_housing_and_municipalities_max_value" value="{{ request.GET.price_housing_and_municipalities_max_value }}">
                </div>
                <div class="filter-group">
                    <label>Диапазон предоплаты</label>
                    <input id="prepayment_min" type="number" min="0" step="0.01" name="prepayment_min_value" value="{{ request.GET.prepayment_min_value }}">
                    <input id="prepayment_max" type="number" min="0" step="0.01" name="prepayment_max_value" value="{{ request.GET.prepayment_max_value }}">
                </div>
                <div class="filter-group">
                    <label>Диапазон срока аренды (в днях)</label>
                    <input id="rental_period_days_min" type="number" min="0" name="rental_period_days_min_value" value="{{ request.GET.rental_period_days_min_value }}">
                    <input id="rental_period_days_max" type="number" min="0" name="rental_period_days_max_value" value="{{ request.GET.rental_period_days_max_value }}">
                </div>
            </div>
            <div id="construction" class="view-group">
                <div class="filter-group icontains-string">
                    <label>Строительная компания</label>
                    <input id="construction_company" type="text" name="construction_company_value" value="{{ request.GET.construction_company_value}}">
                </div>
                <div class="filter-group">
                    <label>Примерные сроки выполнения работы</label>
                    <input id="approximate_dates_min" type="number" min="0" name="approximate_dates_min_value" value="{{ request.GET.approximate_dates_min_value }}">
                    <input id="approximate_dates_max" type="number" min="0" name="approximate_dates_max_value" value="{{ request.GET.approximate_dates_max_value }}">
                </div>
            </div>

            <div class="filter-group">
                <label>Диапазон площади (м²)</label>
                <input id="square_min" type="number" min="1" name="square_min_value" value="{{ request.GET.square_min_value }}">
                <input id="square_max" type="number" min="1" name="square_max_value" value="{{ request.GET.square_max_value }}">
            </div>
            <div class="filter-group icontains-string">
                <label>Город</label>
                <input id="address_city" type="text" name="address_city_value" value="{{ request.GET.address_city_value}}">
            </div>
            <div class="filter-group icontains-string">
                <label>Район</label>
                <input id="address_district" type="text" name="address_district_value" value="{{ request.GET.address_district_value}}">
            </div>
            <div class="filter-group icontains-string">
                <label>Улица</label>
                <input id="address_street" type="text" name="address_street_value" value="{{ request.GET.address_street_value}}">
            </div>
            <div class="filter-group icontains-string">
                <label>Дом</label>
                <input id="address_house" type="number" min="1" name="address_house_value" value="{{ request.GET.address_house_value}}">
            </div>
            <div class="filter-group icontains-string">
                <label>Квартира</label>
                <input id="address_apartment" type="number" min="1" name="address_apartment_value" value="{{ request.GET.address_apartment_value}}">
            </div>

            <fieldset>
                <legend>Тип недвижимости</legend>
                <div class="radio-option">
                    <input id="type_real_estate_any" type="radio" name="type_real_estate" value="real_estate_any"
                           onchange="selectedRealEstateAgency()"
                           {% if not request.GET.type_real_estate or request.GET.type_real_estate == 'real_estate_any' %}checked{% endif %}>
                    <label for="type_real_estate_any">Любой</label>
                </div>
                <div class="radio-option">
                    <input id="type_real_estate_apartment_only" type="radio" name="type_real_estate" value="apartment_only"
                           onchange="selectedRealEstateAgency()"
                           {% if request.GET.type_real_estate == 'apartment_only' %}checked{% endif %}>
                    <label for="type_real_estate_apartment_only">Квартиры</label>
                </div>
                <div class="radio-option">
                    <input id="type_real_estate_house_only" type="radio" name="type_real_estate" value="house_only"
                           onchange="selectedRealEstateAgency()"
                           {% if request.GET.type_real_estate == 'house_only' %}checked{% endif %}>
                    <label for="type_real_estate_house_only">Дома</label>
                </div>
                <div class="radio-option">
                    <input id="type_real_estate_plot_only" type="radio" name="type_real_estate" value="plot_only"
                           onchange="selectedRealEstateAgency()"
                           {% if request.GET.type_real_estate == 'plot_only' %}checked{% endif %}>
                    <label for="type_real_estate_plot_only">Участки</label>
                </div>
            </fieldset>

            <div id="apartment" class="view-group">
                <div class="filter-group">
                    <label>Диапазон количества этажей у дома</label>
                    <input id="number_storeys_min" type="number" min="1" name="number_storeys_min_value" value="{{ request.GET.number_storeys_min_value }}">
                    <input id="number_storeys_max" type="number" min="1" name="number_storeys_max_value" value="{{ request.GET.number_storeys_max_value }}">
                </div>
                <div class="filter-group">
                    <label>Диапазон этаж квартиры</label>
                    <input id="floor_min" type="number" min="1" name="floor_min_value" value="{{ request.GET.floor_min_value }}">
                    <input id="floor_max" type="number" min="1" name="floor_max_value" value="{{ request.GET.floor_max_value }}">
                </div>
                <fieldset>
                    <legend>Наличи балкона</legend>
                    <div class="radio-option">
                        <input id="balcony_real_estate_none" type="radio" name="balcony_real_estate" value=""
                               {% if not request.GET.balcony_real_estate or request.GET.balcony_real_estate == '' %}checked{% endif %}>
                        <label for="balcony_real_estate_none">Не важно</label>
                    </div>
                    <div class="radio-option">
                        <input id="balcony_real_estate_yes" type="radio" name="balcony_real_estate" value="yes"
                               {% if request.GET.balcony_real_estate == 'yes' %}checked{% endif %}>
                        <label for="balcony_real_estate_yes">Есть</label>
                    </div>
                    <div class="radio-option">
                        <input id="balcony_real_estate_no" type="radio" name="balcony_real_estate" value="no"
                               {% if request.GET.balcony_real_estate == 'no' %}checked{% endif %}>
                        <label for="balcony_real_estate_no">Нету</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Наличи мебели</legend>
                    <div class="radio-option">
                        <input id="furniture_real_estate_none" type="radio" name="furniture_real_estate" value=""
                               {% if not request.GET.furniture_real_estate or request.GET.furniture_real_estate == '' %}checked{% endif %}>
                        <label for="furniture_real_estate_none">Не важно</label>
                    </div>
                    <div class="radio-option">
                        <input id="furniture_real_estate_yes" type="radio" name="furniture_real_estate" value="yes"
                               {% if request.GET.furniture_real_estate == 'yes' %}checked{% endif %}>
                        <label for="furniture_real_estate_yes">Есть</label>
                    </div>
                    <div class="radio-option">
                        <input id="furniture_real_estate_no" type="radio" name="furniture_real_estate" value="no"
                               {% if request.GET.furniture_real_estate == 'no' %}checked{% endif %}>
                        <label for="furniture_real_estate_no">Нету</label>
                    </div>
                </fieldset>
                <div class="filter-group">
                    <label>Диапазон этаж квартиры</label>
                    <input id="year_construction_min" type="number" min="1900" name="year_construction_min_value" value="{{ request.GET.year_construction_min_value }}">
                    <input id="year_construction_max" type="number" min="1900" name="year_construction_max_value" value="{{ request.GET.year_construction_max_value }}">
                </div>
                <div class="filter-group">
                    <label>Аварийное здание</label>
                    <input id="accident_rate_state" type="checkbox" name="accident_rate_value" value="accident_rate_value"
                           {% if request.GET.accident_rate_value %}checked{% endif %}>
                </div>
                <fieldset>
                    <legend>Тип комнаты/квартиры</legend>
                    <div class="radio-option">
                        <input id="room_type_any" type="radio" name="room_type" value="any"
                               {% if not request.GET.room_type or request.GET.room_type == 'any' %}checked{% endif %}>
                        <label for="room_type_any">Не важно</label>
                    </div>
                    <div class="radio-option">
                        <input id="room_type_other" type="radio" name="room_type" value="other"
                               {% if request.GET.room_type == 'other' %}checked{% endif %}>
                        <label for="room_type_other">Другое</label>
                    </div>
                    <div class="radio-option">
                        <input id="room_type_one_room" type="radio" name="room_type" value="one_room"
                               {% if request.GET.room_type == 'one_room' %}checked{% endif %}>
                        <label for="room_type_one_room">Однокомнатная</label>
                    </div>
                    <div class="radio-option">
                        <input id="room_type_two_room" type="radio" name="room_type" value="two_room"
                               {% if request.GET.room_type == 'two_room' %}checked{% endif %}>
                        <label for="room_type_two_room">Двухкомнатная</label>
                    </div>
                    <div class="radio-option">
                        <input id="room_type_three_room" type="radio" name="room_type" value="three_room"
                               {% if request.GET.room_type == 'three_room' %}checked{% endif %}>
                        <label for="room_type_three_room">Трехкомнатная</label>
                    </div>
                    <div class="radio-option">
                        <input id="room_type_four_room" type="radio" name="room_type" value="four_room"
                               {% if request.GET.room_type == 'four_room' %}checked{% endif %}>
                        <label for="room_type_four_room">Четырехкомнатная</label>
                    </div>
                    <div class="radio-option">
                        <input id="room_type_four_plus_room" type="radio" name="room_type" value="four_plus_room"
                               {% if request.GET.room_type == 'four_plus_room' %}checked{% endif %}>
                        <label for="room_type_four_plus_room">Четыре+ комнат</label>
                    </div>
                    <div class="radio-option">
                        <input id="room_type_studio" type="radio" name="room_type" value="studio"
                               {% if request.GET.room_type == 'studio' %}checked{% endif %}>
                        <label for="room_type_studio">Студия</label>
                    </div>
                    <div class="radio-option">
                        <input id="room_type_maisonette" type="radio" name="room_type" value="maisonette"
                               {% if request.GET.room_type == 'maisonette' %}checked{% endif %}>
                        <label for="room_type_maisonette">Мезонет</label>
                    </div>
                    <div class="radio-option">
                        <input id="room_type_loft" type="radio" name="room_type" value="loft"
                               {% if request.GET.room_type == 'loft' %}checked{% endif %}>
                        <label for="room_type_loft">Лофт</label>
                    </div>
                    <div class="radio-option">
                        <input id="room_type_penthouse" type="radio" name="room_type" value="penthouse"
                               {% if request.GET.room_type == 'penthouse' %}checked{% endif %}>
                        <label for="room_type_penthouse">Не важно</label>
                    </div>
                </fieldset>
            </div>
            <div id="house" class="view-group">
                <div class="filter-group">
                    <label>Диапазон этаж квартиры</label>
                    <input id="house_number_storeys_min" type="number" min="1" name="house_number_storeys_min" value="{{ request.GET.house_number_storeys_min }}">
                    <input id="house_number_storeys_max" type="number" min="1" name="house_number_storeys_max" value="{{ request.GET.house_number_storeys_max }}">
                </div>
                <div class="filter-group">
                    <label>Площадь дома (м²)</label>
                    <input id="house_area_min" type="number" min="1" name="house_area_min" value="{{ request.GET.house_area_min }}">
                    <input id="house_area_max" type="number" min="1" name="house_area_max" value="{{ request.GET.house_area_max }}">
                </div>
                <div class="filter-group">
                    <label>Год постройки домаы</label>
                    <input id="house_year_construction_min" type="number" min="1900" name="house_year_construction_min" value="{{ request.GET.house_year_construction_min }}">
                    <input id="house_year_construction_max" type="number" min="1900" name="house_year_construction_max" value="{{ request.GET.house_year_construction_max }}">
                </div>
                <fieldset>
                    <legend>Наличи гаража</legend>
                    <div class="radio-option">
                        <input id="garage_house_none" type="radio" name="garage_house" value=""
                               {% if not request.GET.garage_house or request.GET.garage_house == '' %}checked{% endif %}>
                        <label for="garage_house_none">Не важно</label>
                    </div>
                    <div class="radio-option">
                        <input id="garage_house_yes" type="radio" name="garage_house" value="yes"
                               {% if request.GET.garage_house == 'yes' %}checked{% endif %}>
                        <label for="garage_house_yes">Есть</label>
                    </div>
                    <div class="radio-option">
                        <input id="garage_house_no" type="radio" name="garage_house" value="no"
                               {% if request.GET.garage_house == 'no' %}checked{% endif %}>
                        <label for="garage_house_no">Нету</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Наличи коммуникаций</legend>
                    <div class="radio-option">
                        <input id="communications_house_none" type="radio" name="communications_house" value=""
                               {% if not request.GET.communications_house or request.GET.communications_house == '' %}checked{% endif %}>
                        <label for="communications_house_none">Не важно</label>
                    </div>
                    <div class="radio-option">
                        <input id="communications_house_yes" type="radio" name="communications_house" value="yes"
                               {% if request.GET.communications_house == 'yes' %}checked{% endif %}>
                        <label for="communications_house_yes">Есть</label>
                    </div>
                    <div class="radio-option">
                        <input id="communications_house_no" type="radio" name="communications_house" value="no"
                               {% if request.GET.communications_house == 'no' %}checked{% endif %}>
                        <label for="communications_house_no">Нету</label>
                    </div>
                </fieldset>
            </div>
            <div id="plot" class="view-group">
                <fieldset>
                    <legend>Наличи построек</legend>
                    <div class="radio-option">
                        <input id="buildings_plot_none" type="radio" name="buildings_plot" value=""
                               {% if not request.GET.buildings_plot or request.GET.buildings_plot == '' %}checked{% endif %}>
                        <label for="buildings_plot_none">Не важно</label>
                    </div>
                    <div class="radio-option">
                        <input id="buildings_plot_yes" type="radio" name="buildings_plot" value="yes"
                               {% if request.GET.buildings_plot == 'yes' %}checked{% endif %}>
                        <label for="buildings_plot_yes">Есть</label>
                    </div>
                    <div class="radio-option">
                        <input id="buildings_plot_no" type="radio" name="buildings_plot" value="no"
                               {% if request.GET.buildings_plot == 'no' %}checked{% endif %}>
                        <label for="buildings_plot_no">Нету</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Наличи коммуникаций</legend>
                    <div class="radio-option">
                        <input id="communications_plot_none" type="radio" name="communications_plot" value=""
                               {% if not request.GET.communications_plot or request.GET.communications_plot == '' %}checked{% endif %}>
                        <label for="communications_plot_none">Не важно</label>
                    </div>
                    <div class="radio-option">
                        <input id="communications_plot_yes" type="radio" name="communications_plot" value="yes"
                               {% if request.GET.communications_plot == 'yes' %}checked{% endif %}>
                        <label for="communications_plot_yes">Есть</label>
                    </div>
                    <div class="radio-option">
                        <input id="communications_plot_no" type="radio" name="communications_plot" value="no"
                               {% if request.GET.communications_plot == 'no' %}checked{% endif %}>
                        <label for="communications_plot_no">Нету</label>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="btn-filters">Применить фильтры</button>
        </form>
    </div>
</div>

<script defer>
    selectedDeal();
    selectedRealEstateAgency();
</script>
{% endblock %}
