{% extends "base.html" %}
{% load static %}


{% block title %}{{title}}{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'real_estate_agency/css/track_deal_list.css' %}"/>
{% endblock %}
{% block scripts %}

{% endblock %}

{% block content %}
<div class="track-deal-container">
    <div class="track-deal-list">
        {% for el in track_deal_list %}
            <div class="track-deal">
                <img src="{{ el.track_deal.real_estate_deal.main_photo.url }}">
                <p class="name-deal">Сделка: <a href="{% url 'deal' el.track_deal.title_slug %}">{{ el.track_deal.title }}</a></p>
                <a href="{% url 'stop_track_deal' el.track_deal.title_slug %}" class="btn">Удалить</a>
            </div>
        {% endfor %}
    </div>
    <hr>
    {% include 'includes/paginator.html'%}
</div>
{% endblock %}
