{% extends "base.html" %}
{% load static %}


{% block title %}{{title}}{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'common/css/profile.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'real_estate_agency/css/profile_agency.css' %}"/>
{% endblock %}
{% block scripts %}

{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="header-profile">
        <div class="user">
            <img src="{{ profile_agency.logo.url }}">
            <h3>{{ profile_agency.name }}</h3>
            <p>Дата регистрации: {{ profile_agency.date_registered }}</p>
            {% if not profile_agency.representative.is_active %}
                <p class="not-active">Организация не активна</p>
            {% elif profile_agency.representative.banned %}
                <p class="banned">Организация заблокирована</p>
            {% endif %}
            <p class="grade"> Оценка агентства: {{ grade_real_estate_agency|floatformat:2|default:"Нет" }}</p>
        </div>
        <div class="actions">
            {% if user == profile_agency.representative %}
                <a href="{% url 'agency_profile_change' profile_agency.slug_name %}" class="btn">Изменить профиль организации</a>
            {% endif %}
        </div>
    </div>
    <hr/>
    <div class="about">
        <p>ИНН: {{ profile_agency.INN }}</p>
        <p>Предстваитель: {{ profile_agency.representative.username }}</p>
        <p>Об агенстве: {{ profile_agency.about|default:"(Информация об агенстве не указана)" }}</p>
    </div>
    <hr>
    <h3>Отзывы</h3>
    <div class="reviews">
        {% for review in reviews_agency %}
            <div class="review">
                <div class="review-header">
                    <img src="{{ review.wrote_review.photo.url }}">
                    <div class="review-info">
                        <span class="review-author">{{ review.wrote_review.username }}</span>
                        <span class="review-date">
                            {{ review.date_write }}
                            {% if review.change %}
                                <span class="edited-badge">(изменено)</span>
                            {% endif %}
                        </span>
                    </div>
                    {% if user == review.wrote_review %}
                    <div class="action-message">
                        <a href="{% url 'review_change' review.id %}" class="edit-btn">Изменить</a>
                        <a href="{% url 'del_review_agency' review.id %}" class="delete-btn">Удалить</a>
                    </div>
                    {% endif %}
                </div>
                <div class="message-content">
                    <textarea readonly>{{ review.message }}</textarea>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="write-review">
        {% if user.banned %}
            <p class="error-write">Вы не можете использовать функцию отзывов, когда вы заблокированы</p>
        {% elif have_review %}
            <p class="error-write">Вы уже имеете отзыв об этом агенстве</p>
        {% elif user.is_anonymous %}
            <p class="error-write"><a href="{% url 'login' %}">Авторизуйтесь чтобы оставлять комментарии</a></p>
        {% else %}
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.grade }}
                {{ form.grade.errors }}
            </div>
            <div class="form-group">
                {{ form.message }}
                {{ form.message.errors }}
            </div>
            <button type="submit" class="form-button">Написать</button>
        </form>
        {% endif %}
    </div>
    <hr>
    {% include 'includes/paginator.html'%}
</div>
{% endblock %}
