{% extends "base.html" %}
{% load static %}


{% block title %}{{title}}{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'common/css/form.css' %}"/>
{% endblock %}
{% block scripts %}

{% endblock %}

{% block content %}
<div class="form-container">
    <a class="back-button" href="{% url 'home' %}">Обратно на главную</a>
    <h2 class="form-title">{{ title }}</h2>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% include "includes/half_stars_rating.html" with name="grade" %}
        <div class="form-group">
            {{ form.message }}
            {{ form.message.errors }}
        </div>
        <button type="submit" class="form-button">Изменить</button>
        </form>
</div>
{% endblock %}
